.form {
  display: flex;
  margin-top: 25px;
}

.form input {
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.form input[type="text"] {
  flex: 10;
}

.form input[type="submit"] {
  flex: 2;
  margin-right: 10px;
  cursor: pointer;
}
