.main_title {
  background: #333;
  color: #ddd;
  text-align: center;
  padding: 15px;
}

.todos_scrollable {
  margin-bottom: 50px;
  max-height: 380px;
  overflow-y: auto;
}

.todo_main {
  margin: auto;
  max-width: 800px;
}

.main_footer {
  position: fixed;
  bottom: 0px;
  background: #333;
  color: #ddd;
  text-align: center;
  padding: 7px;
  width: 100%;
}

.main_footer a {
  color: #ddd;
}

.main_footer a:hover {
  color: #db4437;
}
